# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (kullanılmıyor ama ileride diye)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png

# Claude Code yerel ayarları
.claude/
